<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Edward Hopper</title>
  </head>
  <body class="main-content">
    <img
      height="300"
      src="img/800px-Andy_hopper.jpg"
    />
    <h1>Andy Hopper</h1>
    <p>
      Sir Andrew Hopper (born 1953) is a British-Polish
      Computer Technologist and entrepreneur. He is Treasurer and Vice-President
      of the Royal Society, Professor of Computer Technology, former Head of the
      University of Cambridge Department of Computer Science and Technology, an
      Honorary Fellow of Trinity Hall, Cambridge and Corpus Christi
      College, Cambridge.
    </p>
    <a href="/" class="button-contain">
      <button>Back to home</button>
    </a>
  </body>
</html>
